@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/** Media Queries **/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  html::-webkit-scrollbar {
    width: 10px; }
  html::-webkit-scrollbar-thumb {
    background: #ee964b;
    border-radius: 20px; }
  html::-webkit-scrollbar-track {
    background: #f7d5a9;
    border-radius: 20px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #fffdd4; }

p {
  color: #1a1b15;
  font-size: 2rem; }

a {
  text-decoration: none;
  display: block; }

h1,
h2,
h3 {
  font-weight: 900;
  color: #c83e4d;
  text-align: center; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.6rem;
  color: #1d2d44; }

h3 {
  font-size: 3rem; }

li {
  list-style: none; }

img {
  object-fit: cover; }

.hero {
  background: none; }
  .hero .hero-text {
    display: none; }
  .hero .nav-link {
    color: #1a1b15;
    font-size: 2rem; }

.header-mobile {
  background-color: #ee964b; }

.nav-link {
  color: #1a1b15; }

.nav-styles {
  height: 5rem; }

.header-logo img {
  width: 30rem;
  height: 100%;
  filter: drop-shadow(1px 1px 0px #1a1b15); }

.active {
  color: #e6530d !important; }

.navbar-toggler {
  background-color: #c83e4d;
  margin: 1rem auto; }
  .navbar-toggler i {
    padding: 5px;
    color: #1a1b15; }

.dark-mode-container {
  text-align: end;
  flex-grow: 1;
  margin-right: 4rem;
  display: flex; }

.dark-mode-button {
  font-size: 2.5rem;
  color: #1a1b15;
  cursor: pointer;
  flex-grow: 1; }

.footer {
  border-top: 2px solid black;
  background-color: #ee964b; }
  .footer .footer-logo img {
    width: 20rem;
    filter: drop-shadow(1px 1px 0px black); }
  .footer h3 {
    text-transform: uppercase; }
  .footer li h6 a {
    color: #1a1b15;
    font-size: 1.6rem; }
  .footer .fab {
    font-size: 4rem; }
  .footer .fa-instagram {
    color: rgba(221, 15, 77, 0.644); }
  .footer .fa-twitter {
    color: #59a09c; }
  .footer .fa-facebook {
    color: #1d2d44; }

.card {
  box-shadow: 0 0 5px 1px #1a1b15;
  border-radius: 10px;
  background-color: #fffdd4; }
  .card a {
    color: #c83e4d;
    display: inline-block; }
  .card img {
    border-radius: 10px 10px 3px 3px; }

.why-we .card img,
.card-img-catalogue {
  height: 20rem; }
  @media (min-width: 768px) {
    .why-we .card img,
    .card-img-catalogue {
      height: 30rem; } }

.cars .card .car-img {
  height: 280px; }

.card-img-catalogue {
  position: relative; }
  .card-img-catalogue img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .card-img-catalogue .card-img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--sandy-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px); }
    .card-img-catalogue .card-img-overlay:hover {
      opacity: 1; }
  .card-img-catalogue .card-img-overlay .card-title {
    font-size: 5rem;
    text-align: center;
    color: #c83e4d; }
  .card-img-catalogue .card-img-overlay p {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center; }

.information li {
  font-size: 2rem; }

.form {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #c83e4d; }
  .form input,
  .form textarea {
    border: 1px solid black;
    border-radius: 5px; }
  .form textarea {
    height: 20rem; }

.map iframe {
  border: 1px solid #a09c9c;
  border-radius: 1rem;
  width: 100%;
  height: 40rem; }

.button {
  color: #1a1b15;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase; }
  .button:before, .button:after {
    content: "";
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1rem;
    height: 1rem;
    transition: all 0.3s ease-in-out; }
  .button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5; }
  .button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0; }
  .button:hover:before, .button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff; }
  .button:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff; }

@media (min-width: 992px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.ibb.co/CmGMSNF/hero.jpg) no-repeat center/cover;
    height: 50rem;
    position: relative; } }

@media (min-width: 992px) {
  .hero .hero-text {
    position: absolute;
    top: 30%;
    left: 15%;
    color: #ee964b;
    max-width: 50rem;
    display: block; } }

@media (min-width: 992px) {
  .hero .nav-link {
    color: #ee964b; } }

@media (min-width: 440px) {
  .navbar-toggler {
    margin: 0 3rem 0 0; } }

@media (min-width: 992px) {
  .nav-link:hover {
    color: #fffdd4; } }

@media (min-width: 992px) {
  .dark-mode-container {
    width: 100%;
    margin: 0; } }

@media (min-width: 992px) {
  .dark-mode-container .dark-mode-button {
    color: #fffdd4; } }

@keyframes dispel {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes entry {
  0% {
    transform: translate(-100vh, -200px) rotate(180deg); }
  50% {
    transform: translate(0) rotate(-20deg); }
  70% {
    transform: rotate(20deg); }
  90% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0); } }

@keyframes slideinright {
  from {
    transform: translateX(-100vh); }
  to {
    transform: translateX(0); } }

@keyframes slideinleft {
  from {
    transform: translateX(100vh); }
  to {
    transform: translateX(0); } }

@keyframes slideinup {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateX(0); } }

@keyframes floating {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 10px); }
  to {
    transform: translate(0, 0px); } }

@keyframes rotate {
  from {
    transform: rotateY(180deg); }
  to {
    transform: translateY(0); } }

.hero-text {
  animation: entry 2s; }

.why-we .dispel {
  animation: dispel 2s; }

.why-we .slideinright {
  animation: slideinright 1s; }

.why-we .slideinleft {
  animation: slideinleft 1s; }

.why-we .slideinup {
  animation: slideinup 1s; }

.catalogue .card:hover {
  animation: floating 1s infinite; }

.cars .card img {
  animation: rotate 1s; }

.pickups .card img {
  animation: rotate 1s; }

.dark-mode {
  background-color: #353535; }
  .dark-mode h2 {
    color: #a9cfcd; }
  .dark-mode p {
    color: #ffffff; }
    .dark-mode p a {
      color: #1a1b15; }
  .dark-mode .header-mobile {
    background-color: #615f5f; }
  .dark-mode .card {
    background-color: #615f5f; }
  .dark-mode .footer {
    background-color: #615f5f; }
    .dark-mode .footer li {
      color: #ffffff; }
      .dark-mode .footer li h6 a {
        color: #ffffff; }
  .dark-mode .information li {
    color: #ffffff; }
  .dark-mode .form-section form {
    background-color: #615f5f; }
  .dark-mode .contact {
    color: #59a09c; }

.dark-mode-scrollbar::-webkit-scrollbar {
  width: 10px; }

.dark-mode-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 20px; }

.dark-mode-scrollbar::-webkit-scrollbar-track {
  background: #222;
  border-radius: 20px; }
