.hero {
  @include tablet-desktop {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(https://i.ibb.co/CmGMSNF/hero.jpg) no-repeat center/cover;

    height: 50rem;

    position: relative;
  }
  .hero-text {
    @include tablet-desktop {
      position: absolute;
      top: 30%;
      left: 15%;

      color: $primary;

      max-width: 50rem;

      display: block;
    }
  }
  .nav-link {
    @include tablet-desktop {
      color: $primary;
    }
  }
}

.navbar-toggler {
  @media (min-width: 440px) {
    margin: 0 3rem 0 0;
  }
}

.nav-link {
  @include tablet-desktop {
    &:hover {
      color: $bg;
    }
  }
}

.dark-mode-container {
  @include tablet-desktop {
    width: 100%;
    margin: 0;
  }

  @include tablet-desktop {
    .dark-mode-button {
      color: $bg;
    }
  }
}
