/** Media Queries **/
@mixin telefono {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin big {
  @media (min-width: 1200px) {
    @content;
  }
}

%button {
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
%button:before,
%button:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease-in-out;
}
%button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
%button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
%button:hover:before,
%button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
%button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.button-form {
  @extend %button;
  color: $black;
  background: transparent;
}

.button-pickups {
  @extend %button;
  color: $secondary;
  background: $primary;
}
