// Fuentes
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
$fuente_principal: 'SF Pro Display', sans-serif;

// Colores
$black: #1a1b15;
$white: #FFFFFF;
$gray: #b8b8b8;
$bg: #fffdd4;
$brick-red: #C83E4D;
$prussian-blue: #1D2D44;
$medium-turquoise: #73C2BE;
$sandy-brown: #EE964B;
$tan: #DBB68F;