// Fuentes
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
$fuente_principal: "SF Pro Display", sans-serif;

// Colores
$black: #1a1b15;
$white: #ffffff;
$gray: #b8b8b8;
$bg: #fffdd4;
$secondary: #c83e4d;
$prussian-blue: #1d2d44;
$medium-turquoise: #59a09c;
$primary: #ee964b;
$tan: #dbb68f;

// bootstrap
$primary: $primary;
$secondary: $secondary;
