// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
$fuente_principal: "Roboto", sans-serif;

// COLORS
$black: #1a1b15;
$white: #ffffff;
$gray: #615f5f;
$dark-gray: #353535;
$bg: #fffdd4;
$secondary: #c83e4d;
$prussian-blue: #1d2d44;
$medium-turquoise: #59a09c;
$primary: #ee964b;

// BOOTSTRAP
$primary: $primary;
$secondary: $secondary;

// MAPS
$networks: (
  instagram: rgba(221, 15, 77, 0.644),
  twitter: $medium-turquoise,
  facebook: $prussian-blue,
);
